# Ignore environment variables and secret keys
.env

# Python cache and build files
__pycache__/
*.pyc

# VSCode config (optional, if you use it)
.vscode/

# Mac system files (optional)
.DS_Store

venv/

